.contacts-container {
  padding: 5px 0;
}

.contacts-list {
  padding-left: 0;
  overflow-y: scroll;
  // height: 650px;
  height: calc(100vh - 180px);
  .contact {
    width: 100%;
    padding: 15px 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;

    .contact-name,
    .contact-number {
      margin-right: 5px;
    }
  }

  .contact:hover {
    background: #f5f5f5;
    cursor: pointer;
  }
}

.search-bar {
  padding-left: 30px;
  padding-right: 15px;

  .input-group input {
    height: 50px;
  }
}

.selectUser {
  background: #f5f5f5;
}
